################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyLearnings/bin/Debug
/MyLearnings/obj/Debug
/MyLearningsTest/bin/Debug
/MyLearningsTest/obj/Debug
